<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} title {% endblock %}</title>
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/bootstrap-theme.css">
  <link rel="stylesheet" href="/static/blog.css">
</head>

<body>
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item active" href="{% url 'home' %}">Home</a>
			</nav>
		</div>
	</div>
{% block errors %}
    {% for error in errors %}
        <p class="err-msg">
            {{error}}
        </p>
    {% endfor %}
{% endblock %}

{% block content %}

{% endblock %}

</body>
</html>

