.calculator {
	width: 125px;
	height: auto;
	
	margin: 10px auto;
	padding: 20px;
	
	background: #9dd2ea;
	display:table;

}

.bar {
	width: 210px;
}

.col {
	display:table-row;
}

.col button {
    width: 50px;
    margin: 1px;
}
