{% extends "base.html" %}

{% block error %}{% endblock %}

{% block content %}
	<section class="container">
		<div class="container col-md-6 col-md-offset-3">
			<h2 class="text-center">Thanks for your registration!</h2>
			<p class="lead">Hi {{ name }},</p>
			<p class="lead">
				We have sent you a confirmation email. Please check <a href=mailto:{{email}}>{{ email }}</a> and active your account.
			</p class="lead"> 
			<p class="lead">
				Cheers,<br/>	
				15637 Blog Team
			</p>
		</div>
	</section>
{% endblock %}